-----BEGIN CERTIFICATE-----
MIIDBjCCAe4CCQDbBIofivHHAjANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE3MTAxNDE2MDAwNFoXDTE4MTAxNDE2MDAwNFowRTELMAkG
A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
ALIqs7KEPfn10QPCE3nwU2D28ktk/SkOOdYdExdJWNN5zRF295r2mofFHlKvA031
LOpnA5PLpnsClIW8pJmH3+V7HAfMzODlvNLJ6HAMen2acLAmhs1kRVVbFRl+a2OX
H+dWPmya0frnmNa2FUo7PKrna2Typ8ZA1EPp9C89cTiaI8BHr3TR3H+NPNUeOvIE
pbeeHyDJaWV64D0LhyiTdT5advHemzzkjbE/Y5S6piswesXpOsVnQ0AE6SrSwhdh
rynhXleU0g2GJh6JpAoAzsGNM5ke+zgDRUXBGpMPgP9731kTK/djuUEQNhq3Za1/
cNiM0tD+Gtlc6LtxGULf3wsCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAIij+Vllr
SA8czBuBT2alLOgQo3EuZEljEBKVP6j4A+LXeQdhqgkwbp3EdiwyUJjA/JlDwAKG
eehc77Sz2TxjegoNnIvjOTR+OU1FUrj+KMWo2mGvV+vO7Cg6lNovCI4lthAzFNvf
LrEwUj/kgGw9yngP5iBrBfLdw0jMyOohbIPObWaniNe+xTskPcH7be59T+z03n/8
bfoiuA/E6bTGvwcVwIcY4XzYJ+ZaUB7lMV6UdZv5CkHEdZWI0yyhOPLZ2zX1fVAV
AN0jHQWxn/U1Fr29XeiyldhweJELWQ1HeXpPscy24ayS6tTRKHpinn9wohLcQdB2
0v+hZlfPxBaLqg==
-----END CERTIFICATE-----
